.error {
	color: red;
	font-size: 15px;        
}

.navbar-cell {
	padding-right: 30px;	
	
}


.formButton
{
	background-color: #6699FF;
	color: black;
	font-weight: bold;
	text-alignment: center;
}


 
div.mainDiv
{
	background-color: #FFFFCC;
	border: solid 1px black;
	width: 40%;
	margins: auto;
	positions:relative;
}



.header {
	text-align: center;	
	font-weight: bold;
}
