.error {
	color: red;
	font-size: 15px;        
}

.navbar-cell {
	padding-right: 30px;	
	
}


.formButton
{
	background-color: #6699FF;
	color: black;
	font-weight: bold;
	text-alignment: center;
}


 
div.mainDiv
{
	background-color: #FFFFCC;
	border: solid 1px black;
	width: 40%;
	margins: auto;
	positions:relative;
	padding: 15px;
}



.header {
	text-align: center;	
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}


.table-msg {
	font-type: italic bold 12px/30px Georgia, serif;
}


.open-table {
	border-spacing: 5px;
}