<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "#{rp.checkout.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <script th:src="|/js/global.js|"></script>
</head>
<body>
    <p><h1><b th:text = "#{rp.checkout.header}"></b></h1></p>
	 
	 <form id="checkoutForm" action="#" th:action="@{/routeplanner/do-checkout}" th:object="${routeQuery}" method="post">
	 	
	 	<p><input class="formButton" onclick="submitForm(this)" value="Place Order" th:attr="value=#{rp.checkout.submit}" align="center"/></p>
	 
	 </form>
	 
	 <div th:insert="navbar">  </div>
	 	 
</body>
</html>

