<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title th:text = "#{rp.login.title}"></title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <style>
	        .error {
				color: red;
				font-size: 15px;        
	        }
	    </style>
	    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	   
	</head>
	<body>
		<h1 th:text = "#{international.text}"></h1>
	    <p><h1><b th:text = "#{rp.login.header}"></b></h1></p>
		    
	    <form action="#" th:action="@{/routeplanner/login}" th:object="${user}" method="post">
	        <table>
	        	<tr>
	        		<td align="right">
	        			<p th:text = "#{rp.login.username}"/>
	        		</td>
	        		<td align="left">
	        			<p> <input type="text" th:field="*{username}" /> 
				            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error" th:text = "#{rp.login.error.username}"></span>
				        </p>
	        		</td>
	            </tr>
	        	<tr>            
	        		<td align="right">
	        			<p th:text = "#{rp.login.pass}"/>
	        		</td>
	        		<td align="left">
	        			<p> <input type="text" th:field="*{password}" /> 
				            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"  th:text = "#{rp.login.error.pass}"></span></p>
				        </p>
	        		</td>
	            </tr>        		
	        	<tr>        		
	        		<td align="center">          
	        			<p>
		        			<input type="submit" value="Submit" th:attr="value=#{rp.login.submit}" /> 
		        			<input type="reset" value="Reset" th:attr="value=#{rp.login.reset}" />
	        			</p>
	        		</td>
	        	</tr>
	        </table>        
	    </form>
	    
	    <div th:insert="navbar">  </div>
	    
	</body>
	
	    
	<script type="text/javascript">
	    $(document).ready(function () {
	        $("#locales").change(function () {
	            var selectedOption = $('#locales').val();
	            if (selectedOption != '') {
	                window.location.replace('?lang=' + selectedOption);
	            }
	        });
	    });
	</script>


</html>