<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text = "#{rp.query.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/global.css}" rel="stylesheet" />
</head>
<body>
    <h1 th:text = "#{international.text}"></h1>
    <p><h1><b th:text = "#{rp.query.header}"></b></h1></p>
	 
	 
	 <form action="#" th:action="@{/routeplanner/query}" th:object="${routeQuery}" method="post">
	 	<table>
			<tr>
				<td align="right">
				
				
				<label th:text = "#{rp.query.start}"></label>
				
					<!-- <label th:for="currRouteStart">Start</label> -->
					<!-- <label th:attr="value=#{rp.query.start}">Start</label> -->			
				</td>
				
				<td align="left">
					<select style="width: 250px;" th:field="*{currRouteStart}">
		               <option value="" th:text = "#{rp.dropdown.default}"></option>
		               <option th:each="start : ${session.stationList}"
		                       th:text="${start}"
		                       th:value="${start}"></option>
			        </select>
				</td>
			</tr>	 
			<tr>
				<td align="right">
					<!-- <label th:for="currRouteDest">Destination</label> -->
					<label th:text = "#{rp.query.destination}"></label>
				</td>
				<td align="left">
		           <select style="width: 250px;" th:field="*{currRouteDest}">
		               <option value="" th:text = "#{rp.dropdown.default}"></option>
		               <option th:each="dest : ${session.stationList}"
		                       th:text="${dest}"
		                       th:value="${dest}"></option>
			       </select>
				</td>
			</tr>	 
	 	</table>
	 	<p><input class="formButton" type="submit" value="Find Route Options" th:attr="value=#{rp.query.submit}" align="center"/></p>
	 	<p><textarea name="routeInfo" th:text="*{routeInfo}" rows="30" cols="150"></textarea></p>
	 	<div th:insert="navbar">  </div>
	</form>
		
	
    <form action="#" th:action="@{/routeplanner/go-to-basket}" th:object="${routeQuery}" method="post">
    	<p><input class="formButton" type="submit" value="Find Route Options" th:attr="value=#{rp.query.proceed.submit}" align="center"/></p>
    </form>
    
    
</body>
</html>

