<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shell App - Personal Details Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        .error {
			color: red;
			font-size: 15px;        
        }
    </style>
</head>
<body>
    <h1 th:text = "#{international.text}"></h1>
    <p><h1><b>SPRING MVC ROUTE PLANNER!  --> QUERY PAGE</b></h1></p>
	 
	 <form action="#" th:action="@{/routeplanner/query}" th:object="${routeQuery}" method="post">
	 	<table>
			<tr>
				<td align="right"><label th:for="currRouteStart">Start</label></td>
				<td align="left">
					<select style="width: 250px;" th:field="*{currRouteStart}">
		               <option value="">Please select...</option>
		               <option th:each="start : ${session.stationList}"
		                       th:text="${start}"
		                       th:value="${start}"></option>
			        </select>
				</td>
			</tr>	 
			<tr>
				<td align="right"><label th:for="currRouteDest">Destination</label></td>
				<td align="left">
		           <select style="width: 250px;" th:field="*{currRouteDest}">
		               <option value="">Please select...</option>
		               <option th:each="dest : ${session.stationList}"
		                       th:text="${dest}"
		                       th:value="${dest}"></option>
			       </select>
				</td>
			</tr>	 
	 	</table>
	 	<p><input type="submit" value="Find Route Options" align="center"/></p>
	 	
	 	<p><textarea name="routeInfo" th:text="*{routeInfo}" rows="50" cols="150"></textarea></p>
	 	
	 </form>
      	
	
    
</body>
</html>

